---
name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}

      - name: Checkout code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      # - run: npm publish --access public
      #   env:
      #     NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      # - name: Publish packages
      #   uses: udondan/jsii-publish@v0.8.3
      #   with:
      #     VERSION: ${{ steps.get_version.outputs.VERSION }}
      #     BUILD_SOURCE: true
      #     BUILD_PACKAGES: true
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
